* {
  padding: 0rem;
  margin: 0rem;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

body {
  background: #171622;
  color: whitesmoke;
  margin-left: 10%;
  margin-right: 10%;
}

header {
  display: flex;
  height: 5vh;
}

a {
  text-decoration: none;
}

.icons {
  display: flex;
  flex: 1;
  text-decoration: none;
  justify-content: flex-end;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
  width: 100%;
}

#introduction {
  height: 80vh;
}

#project-1,
#project-2,
#project-3 {
  height: 100vh;
}

.title__block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
  width: 50%;
}

h1 {
  font-size: 5rem;
  background-image: linear-gradient(
    120deg,
    #2fb7ff 10%,
    #6f5cb9,
    #e74b90 70%,
    #ed7a7a
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.5rem;
  text-align: justify;
  padding-left: 4rem;
  padding-right: 4rem;
}

h3 {
  color: whitesmoke;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 0 0 #2fb7ff;
}

.title__profile-block {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 50%;
  perspective: 1000px;
}

.title__profile-image {
  width: 80%;
  height: auto;
  transform: rotateY(-10deg);
  -moz-transform: rotateY(-10deg);
  -webkit-transform: rotateY(-10deg);
  transition: all 1s ease-out;
}

.title__profile-image:hover {
  transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transition: all 1s ease-out;
}

.title__button-contact {
  background: #171622;
  color: #2fb7ff;
  border-color: #2fb7ff;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-top: 1rem;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.title__button-contact:hover {
  background: #2fb7ff;
  color: #171622;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

.divider__block,
.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
}

.divider__title {
  display: flex;
  color: #2fb7ff;
  max-width: 30%;
  font-size: 1.25rem;
  text-align: center;
}

.arrows-scroll {
  display: block;
  height: 100%;
}

.divider__arrows {
  display: block;
  width: 5px;
  height: 5px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #2fb7ff;
  border-bottom: 2px solid #2fb7ff;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.arrow-one,
.arrow-two,
.arrow-three {
  -webkit-animation: arrows-scroll 1s infinite;
  -moz-animation: arrows-scroll 1s infinite;
  animation: arrows-scroll 1s infinite;
}

.arrow-one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.arrow-two {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.arrow-three {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}

@keyframes arrows-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.project__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 75%;
  width: 50%;
  background: #2e303f;
  border-radius: 0.8rem;
  margin: 0.8rem;
}

.project__card-body {
  color: whitesmoke;
  padding: 3rem;
}

p {
  margin-bottom: 0.5rem;
}

.project__card-image {
  width: 90%;
  height: auto;
  padding: 1rem;
}

.project__button-link {
  background: #2e303f;
  color: #2fb7ff;
  border-color: #2fb7ff;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1.25rem;
  border-radius: 0.8rem;
  text-decoration: none;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.project__button-link:hover {
  background: #2fb7ff;
  color: #2e303f;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.4s ease-out;
}

.project__button-link--col {
  color: #2fb7ff;
  border-color: transparent;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 1.25rem;
  border-radius: 0.8rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(120deg, #2fb7ff 10%, #6f5cb9, #e74b90 70%, #ed7a7a);
  -webkit-background-clip: content-box, border-box;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #2e303f inset;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.project__button-link--col:hover {
  color: white;
  box-shadow: none;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.4s ease-out;
}

.footer__text {
  background-image: linear-gradient(
    120deg,
    #2fb7ff 10%,
    #6f5cb9,
    #e74b90 70%,
    #ed7a7a
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 99;
  border: none;
  background-image: linear-gradient(
    120deg,
    #2fb7ff 10%,
    #6f5cb9,
    #e74b90 70%,
    #ed7a7a
  );
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

#toTop:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.2s ease-out;
}

.toTop__arrow {
  display: block;
  width: 5px;
  height: 5px;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 1070px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  .icons {
    justify-content: center;
  }
  section {
    flex-direction: column;
  }
  #introduction,
  #project-1,
  #project-2,
  #project-3 {
    height: auto;
  }

  #project-2 {
    flex-direction: column-reverse;
  }

  .title__profile-block {
    width: 100%;
    margin: 5%;
  }
  .title__block {
    width: 100%;
  }

  .project__card {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  .icons {
    justify-content: center;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  h3 {
    color: whitesmoke;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #introduction,
  #project-1,
  #project-2,
  #project-3 {
    height: auto;
  }

  #project-2 {
    flex-direction: column-reverse;
  }

  .title__profile-block {
    width: 100%;
  }
  .title__block {
    width: 100%;
  }

  .title__button-contact {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .divider__title {
    max-width: 100%;
    font-size: 1rem;
  }
  .project__card {
    width: 100%;
  }
  .project__card-body {
    padding: 1rem;
  }
  #toTop {
    bottom: 2%;
    right: 2%;
    padding: 10px;
    border-radius: 5px;
  }
}
